.caption {
  color: #DADADA;
  font-size: 1em;
}

.title {
  color: #DF774C;
  font-size: 4vh;
  font-weight: bold;
  margin: 40px 0 20px 165px;
  text-transform: uppercase;
}

@media all and (max-width: 959px) and (min-width: 600px) {
  .caption {
    font-size: 0.85em;
  }
  .title {
    font-size: 1.5em;
    margin-left: 115px;
  }
}

@media all and (max-width: 599px) and (min-width: 320px) {
  .title {
    font-size: 1em;
    margin-left: 75px;
  }
}
